@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Inconsolata:wght@400;500;700&display=swap');

body {
  font-family: 'Balsamiq Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

* {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #7FC89A;
  --primary-light: #b49ff1;
  --orange-light: #ffaa10;
  --orange: #ec941a;
  --black: #262022;
  --text-color: #fff;
  --font-size: 1.1rem;
  overflow-x: hidden;
  /* --primary-color: #92d390; */
  /* --primary-color: #312349; */
}

body {
  background: linear-gradient(to bottom, #8296ff, #5363b7, #8052A3)
    /* background: linear-gradient(to bottom, #8296ff, #54BE9E, #5499A7, #8052A3); */
}

h1 {
  font-size: 6rem;
}

p {
  line-height: 33px;
  font-size: 23px;
}

.mini-btn {
  color: #fff;
  background: var(--orange);
  padding: 7px 11px;
  margin: auto;
  display: block;
  width: max-content;
  margin-top: 20px;
  border-radius: 9px;
}

.carrot-hunt-container {
  width: 99vw;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 50%;
}

header {
  height: 100px;
  background: #8296ff;
  z-index: 10;
  -webkit-backdrop-filter: blur(61px);
  backdrop-filter: blur(61px);
}

.hero-btns-container {
  margin-left: -20px
}

header nav a {
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  margin: 0 10px;
}

header nav a:hover {
  background: var(--black);
  padding-top: 8px;
  padding-bottom: 4px;
}

.logo-img {
  width: 120px;
}

.dark-bg {
  background: var(--black);
}

.hero {
  padding: 210px 0 80px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hero-img {
  width: 45%;
  border-radius: 1000px;
  margin-left: 30px;
}

marquee {
  /* background: #232b56;
  padding: 10px;
  border-radius: 11px;
  max-width: 480px; */

  background: #ff30a1;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  font-size: 23px;
}

.countdown p {
  color: #ffeb3b
}

.countdown {

  background: #232b56;
  padding: 26px;
  border-radius: 11px;
  width: 480px;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 0;
  /* width: 100%; */


  /* width: fit-content; */
  /* margin: auto; */
  /* font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #ff30a1;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 1000; */
}

.hero-wrapper {
  display: flex;
  align-items: center;
}

.hero-wrapper video {
  display: block;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.hero-wrapper .hero-text {
  margin-left: 50px;
}

.btn {
  padding: 20px;
  background-color: #FFEB3B;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  box-shadow: -1px -1px 0px 3px var(--black);
  font-family: 'Inconsolata';
  font-size: 30px;
  margin: 23px;
  user-select: none;


  display: flex;
  align-items: center;
  justify-content: center;

}

.btn:hover {
  background: var(--orange-light);
  color: #fff;
  box-shadow: 6px 5px 0px #000;
}

.connect-wallet-btn {
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.section {
  padding: 100px;
}

.about .section-text {
  max-width: 700px;
}

.roadmap ul li {
  list-style: disc
}

.strip-img {
  width: 100%;
  margin-bottom: -10px;
}

.roadmap-item img {
  width: 130%;
  margin-bottom: -50px;
}

#roadmap-7 {
  width: 30%
}

.roadmap-item p {
  font-size: 23px;
  margin-bottom: 20px;
}

.roadmap-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  text-align: center;
  margin-bottom: -40px;
}

.orange-text {
  color: orange;
}

.green-text {
  color: rgb(83, 245, 83);
}

.red-text {
  color: rgb(231, 36, 85);
}

.flex-img img {
  width: 90%;
  border-radius: 5px;
}

.rarity {
  padding-bottom: 100px;
}

.rarity-item {
  margin: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border: 4px solid;
  color: #000;
  transition: .3s linear;
  box-shadow: -2px 4px 0px #000;
  padding: 9px;
  padding-bottom: 23px;
  width: 100%;

}

.rarity-item .name {
  background: #84ff8252;
  padding: 0 12px;
  border-radius: 100px;
}

.rarity-item:hover {
  transform: skewY(0);
  box-shadow: none;
  border: 4px solid;
}

.rarity-item b {
  margin-top: 30px;
  display: block;
}

.rarity img {
  width: 100%;
  border-radius: 5px;
}

.rarity .flex-text {
  margin-left: 30px;
}

.hero p {
  margin: 30px 0;
}

.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-avatar {
  width: 270px;
  height: 270px;
  object-fit: cover;
  background: var(--orange-light);
  border-radius: 260px;
  margin-bottom: 20px;
  border: 4px solid #000;
}

.team-item p {
  opacity: .6;
}

.team-item b {
  font-size: 24px;
}

footer {
  background: var(--black);
  padding: 30px;
  margin-bottom: 47px;
}

.carrot {
  width: 50%;
}

.mint-page-main {
  height: 100vh;
  display: flex;
  width: 100vw;
  margin-top: -70px;
  align-items: center;
  justify-content: center;
  background: url(https://gateway.pinata.cloud/ipfs/Qmd9YFMR4446TfEafmgFGenLhWuMydSknG6zTxhWUd2SC8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mint-page-main .btn {
  font-size: 23px;
}

.mint-bg {
  background: #0e0e0e;
  width: fit-content;
  border-radius: 20px;

  height: 144px;
  padding-top: 120px;
  max-width: 422px;
  text-align: center;
}

details {
  background: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 30px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

details p {
  margin-top: 30px
}

summary {
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

details:hover {
  opacity: .9;
}

details>summary {
  list-style-type: none;
  outline: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary::before {
  content: '+ ';
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 41px;
}

details[open]>summary::before {
  content: '- ';

  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 45px;
}

details[open]>summary {
  margin-bottom: 0.5rem;
}

@media screen and (max-width:768px) {

  .countdown {
    font-size: inherit;
    width: fit-content;
    margin: auto;

    /* font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 4px;
    padding-top: 17px;
    padding-bottom: 0; */
  }

  .countdown p {
    display: none;
  }

  .hero-wrapper,
  .about .width-constraint,
  .rarity .width-constraint {
    flex-direction: column;
  }

  .mint-bg {
    width: 88%
  }

  .mint-page-main .btn {
    font-size: 16px;
    white-space: nowrap;
    height: 4px;
    width: 84%;
  }

  .rarity .flex-text {
    margin-left: 0;
  }

  p {
    font-size: inherit;
  }

  details>summary::before,
  details[open]>summary::before {
    top: 0
  }

  .hero-img, .w-100 {
    width: 83%;
    margin-left: 0;
  }

  details {
    padding: 15px;
    width: 90%;
  }

  /* details:hover {
    background: #000;
  } */

  summary {
    font-size: inherit;
  }

  .roadmap-item,
  #roadmap-7 {
    width: 100%
  }

  .flex-wrap {
    flex-wrap: wrap
  }

  .roadmap-item img {
    width: 100%
  }

  .rarity-item {
    margin: 11px 25px;
    width: 86%;
  }

  .roadmap-items-container {
    flex-direction: column;
  }

  header .header-wrapper {
    width: 95%;
  }

  .btn {
    font-size: 2rem;
    margin: 7px;
    width: 80%;
  }

  .hero-wrapper video {
    width: 80%;
  }

  .hero-btns-container {
    margin: 30px 0;
    flex-direction: column;
  }

  .flex-img img {
    width: 100%;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 2rem;
  }

  .section {
    padding: 100px 20px;
  }

  .hero-wrapper .hero-text {
    margin: 0;
    padding: 22px;
    text-align: center;
  }

  .connect-wallet-btn {
    font-size: 18px;
    height: 0px;
    width: 128px
  }
}

main {
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
}

.mint-num-btns {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 34px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

.mint-num-btns:hover {
  background: #ffffff80;
}

.mint-num {
  margin: 30px;
  font-size: 3rem;
  display: block;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mint-btn {
  background: #7456a8;
  width: auto;
  color: #fff;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-min-btn {
  background: red;
  color: #fff;
}